* {

    margin: 0;
    padding: 0;
}

.navbar {
    /* width: 100%; */
    height: 5rem;
    border-bottom: 1px solid;
    margin: 0;
    padding: 0;
}

.navbar-item-container, .welcome-container {
    display: flex;
    height: 5rem;
    width: 80%;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.navitem {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 5rem;
}

.welcome-container .welcome{
    font-size: 20px;
}

#body {
    margin: auto;
    width: 80%;
}

.main-container {
    margin: 5rem auto;
    width: 80%;
    text-align: center;
}
